.SideDrawer {
    position:fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    z-index: 200;

}


@media ( min-width: 700px){
    .SideDrawer{
        display: none;
        
    }
    /** included logo here **/
    .Logo {
        /** adjusted height from % added margintop and width  different from o'reilly 11% , 32px **/
        display:none
    }
}

/** Responsible for playing animation, basically shift sidedraw to position defined up intransform , shift sidedraw in position **/
.Open {
    transform: translateX(0px);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    /** adjusted height from % added margintop and width  different from o'reilly 11% , 32px **/
    height:180px; 
    width:5%;
    margin-bottom: 32px;
}
